
body{
    /* background-color: #DF8344; */
    background-color: #ef709a;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }
  li{
    font-size: 20px;
  }
  .markdown-body{
    /* background-color: #DF8344; */
    background-color: #ef709a;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }