:root {
  color-scheme: light; /* 또는 'dark' */
  background-color: #ef709a; /* 원하는 배경색 */
  color: black; /* 원하는 텍스트 색상 */
}
body{
    /* background-color: #DF8344; */
    background-color: #ef709a;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }
  li{
    font-size: 20px;
  }
  .markdown-body{
    /* background-color: #DF8344; */
    background-color: #ef709a;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }